# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# Mac OS specific files
.DS_Store

# Optional coverage directory used by tools like istanbul
coverage/

# Optional output directory for build tools
dist/

# IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
